body { background-image: url('/images/squairy_light.png'); }


.container { padding-top: 40px; }
#menu a { color: #c0c0c0; text-decoration: none; padding-right: 10px; }
#menu li span.current a { color: #000000; }
#menu a:hover { border-bottom: dotted thin #000000; border-top: dotted thin #000000 }


img { max-width: 100%; max-height: 100%; }

code { font-family: monospace; font-size: 75%; }

pre { 
  line-height: 1em;
  max-height: 24em;
  overflow: auto;
  padding-left: 10px;
  border-left: solid thick #c0c0c0;
  margin-bottom: 2em;
  font-family: monospace; 
  /* word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap; */
}


hr.snow {
	height: 24px;
	background-image: url('/images/balou.jpg');
	border: 0px;
	background-repeat: repeat-x;
}

hr.totem{
  height: 24px;
  background-image: url('/images/totem.png');
  background-repeat:repeat-x;
  border: 0px;
}

hr.mondrian {
  height: 10px;
  background-image: url('/images/mond3.png');
  background-repeat: repeat-x;
  border: 0px;
}
